.btn-nav {
  position: relative;
  background-color: white;
  cursor: pointer;
  outline: none;
  margin: 0em 0.8em;
  color: #171717;
  border: none;
}

.btn-nav:hover,
.btn-nav:active {
  letter-spacing: 3px;
}

.btn-nav:after,
.btn-nav:before {
  backface-visibility: hidden;
  bottom: 0px;
  content: "";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 350ms ease-in-out;
  width: 0;
  border: 1px solid rgba(0, 0, 0, 0);
}

.btn-nav:hover:after,
.btn-nav:hover:before {
  backface-visibility: hidden;
  border-color: #023e8a;
  transition: 350ms ease-in-out;
  width: 100%;
}

.btn-nav:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}

.btn-nav p {
  font-family: "Inter-Bold";
  background: transparent;
}

.btn-nav:hover p {
  font-family: "Inter-Bold";
  /* animation: rotate 0.5s linear; */
  /* letter-spacing: 3px; */
  color: #023e8a;
  position: relative;
}

.btn-imp {
  color: white;
  background-color: #023e8a;
  position: relative;
}

.btn-imp span {
  color: white;
}

.btn-imp:hover,
.btn-imp:active {
  letter-spacing: 3px;
  background-color: #023e8a;
}

.btn-imp:after,
.btn-imp:before {
  backface-visibility: hidden;
  bottom: 0px;
  content: "";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 350ms ease-in-out;
  width: 0;
  border: 0.5px solid rgba(0, 0, 0, 0);
}

.btn-imp:hover:after,
.btn-imp:hover:before {
  backface-visibility: hidden;
  border-color: white;
  transition: 350ms ease-in-out;
  width: 100%;
}

.btn-imp:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}

.btn-imp:hover span {
  color: white;
}

/* .btn-imp:hover svg {
  color: #023e8a;
} */

textarea {
  width: 100%;
  display: block;
  line-height: 1;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px 0px;
  border: 0px;
  resize: none;
  overflow: hidden;
  outline: none;
  height: 3rem;
}

textarea::placeholder {
  color: white;
  opacity: 75%;
}

.desc-textarea {
  width: 100%;
  display: block;
  line-height: 1;
  text-transform: none;
  padding: 0px;
  margin: 0px 0px;
  border: 0px;
  resize: none;
  overflow: hidden;
  outline: none;
  height: 1.6rem;
}

.desc-textarea::placeholder {
  color: #171717;
  opacity: 75%;
}

.btn-create {
  transition: all 350ms ease-in-out;
}

.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #023e8a;
  color: white;
  height: 3rem;
  align-self: end;
  letter-spacing: 0;
}

.create:hover input {
  letter-spacing: 5px;
  cursor: pointer;
  transition: all 350ms ease-in-out;
}

.create:after,
.create:before {
  backface-visibility: hidden;
  bottom: 0px;
  content: "";
  display: block;
  margin: 0 auto;
  position: relative;
  width: 0;
  transition: all 350ms ease-in-out;

  border: 1px solid rgba(0, 0, 0, 0);
}

.create:hover:after,
.create:hover:before {
  backface-visibility: hidden;
  border-color: white;
  width: 70%;
  transition: all 350ms ease-in-out;
}

.create:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.btn-cancel {
  transition: all 350ms ease-in-out;
}

.cancel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: none;
  background-color: white;
  cursor: pointer;
  outline: none;
  color: #a30015;
  width: 100%;
  height: 3rem;
  align-self: end;
  transition: all 350ms ease-in-out;
  border: 2px solid;
  border-color: #a30015;
}

.cancel:hover input {
  color: white;
  cursor: pointer;
}

.cancel:hover {
  cursor: pointer;
  background-color: #a30015;
}

.cancel:after,
.cancel:before {
  backface-visibility: hidden;
  bottom: 0px;
  content: "";
  display: block;
  margin: 0 auto;
  position: relative;
  width: 0;
  transition: all 350ms ease-in-out;

  border: 1px solid rgba(0, 0, 0, 0);
}

.cancel:hover:after,
.cancel:hover:before {
  backface-visibility: hidden;
  border-color: white;
  width: 70%;
  transition: all 350ms ease-in-out;
}

.cancel:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.cancel {
  width: 10%;
  align-self: flex-end;
  position: relative;
}

.create {
  width: 10%;
  align-self: flex-end;
  position: relative;
  transition: all 350ms ease-in-out;
}

.create:hover {
  cursor: pointer;
  transition: all 350ms ease-in-out;
}

.cancel:hover input,
.cancel:active input {
  letter-spacing: 5px;
}

.boton {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #023e8a;
  cursor: pointer;
  color: white;
  transition: all 350ms ease-in-out;
}

.boton:hover input {
  letter-spacing: 5px;
  transition: all 350ms ease-in-out;
  cursor: pointer;
}

.boton:hover,
.boton:active {
  background-color: #023e8a;
}

.boton:after,
.boton:before {
  backface-visibility: hidden;
  bottom: 0px;
  content: "";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 350ms ease-in-out;
  width: 0;
  border: 1px solid rgba(255, 255, 255, 0);
}

.boton:hover:after,
.boton:hover:before {
  backface-visibility: hidden;
  border-color: white;
  transition: 350ms ease-in-out;
  width: 70%;
}

.boton:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.btn-add{
  transition: 350ms ease-in-out;
}

i:hover{
  color: #023e8a;
}
